extends ./index.pug

block head
  if css_link_href
    link(rel="stylesheet" href=css_link_href)
  style.
    !{demo_css}

block body
  | !{demo_htm}
  if js_script_href
    script(type="module" src=js_script_href)
  script(type="module").
    !{demo_js}
    import 'x/rmWait.js'
